.card {
	@apply max-w-screen-sm;
	@apply text-white;
	@apply font-Roboto;
	@apply bg-blue-dark;
	@apply rounded-md;
}

.container {
	@apply relative;
	@apply p-3;
	@apply grid;
	@apply gap-4;
	grid-template-columns: auto 1fr;
	@apply items-center;
	@screen sm {
		@apply p-8;
	}
	@screen lg {
		@apply p-12;
	}
}

.image {
	@apply w-full;
	@apply rounded-full;
	@apply w-52;
	@apply h-52;
}

.imageContainer {
	max-height: 208px;
	max-width: 208px;
	width: fit-content;
	height: fit-content;
}

.caption {
	h3 {
		@apply mb-3;
		@apply text-teal;
		@apply text-xl;
		@apply font-bold;
	}
	h4 {
		@apply mb-1;
		@apply uppercase;
		@apply text-sm;
	}
	h5 {
		@apply text-yellow;
		@apply font-bold;
	}
}

.content {
	@apply col-span-2;
	@apply mt-4;
}
