.container {
	@screen sm {
		min-width: 150vw;
	}
	@screen md {
		min-width: 130vw;
	}
	@screen xl {
		min-width: revert;
	}
	min-width: 180vw;
}

.section {
	@apply p-3 mt-8 relative;
}

.button1 {
	@apply p-3 text-blue hover:text-teal focus:text-teal text-2xl font-bold hover:bg-blue focus:bg-blue bg-teal rounded-md focus:outline-none focus:ring-teal focus:ring-4;
	@screen xl {
		@apply hover:text-blue focus:text-blue hover:bg-teal focus:bg-teal focus:ring-0;
	}
}
.button2 {
	@apply p-3 text-blue hover:text-green focus:text-green text-2xl font-bold hover:bg-blue focus:bg-blue bg-green rounded-md focus:outline-none focus:ring-green focus:ring-4;
	@screen xl {
		@apply hover:text-blue focus:text-blue hover:bg-green focus:bg-green focus:ring-0;
	}
}

.overflow {
	overflow-x: auto;
}

.timelineBG {
	@apply absolute h-full hidden;
	left: calc(50% - (128px / 2));
	width: 128px;
	@screen sm {
		@apply block;
	}
}

.timeline {
	@apply absolute h-full border-r-2 border-dashed border-blue-dark hidden;
	left: calc(50% - 1px);
	@screen sm {
		@apply block;
	}
}

.time {
	@apply absolute hidden;
	left: calc(50% - 8px);
	&::before {
		@apply rounded-full bg-yellow;
		content: "";
		display: block;
		width: 16px;
		height: 16px;
	}
	// @screen sm {
	// 	@apply block;
	// }
}
