.card {
	@apply text-white font-Roboto bg-blue-dark rounded-md relative;
	@screen sm {
		@apply max-w-screen-sm;
	}
	max-width: 90vw;

	&:nth-child(2n + 1) {
		&::before {
			@apply absolute rounded-full bg-yellow;
			content: "";
			top: 10px;
			right: calc((-128px / 2) - (16px / 2));
			width: 16px;
			height: 4px;
		}
	}

	&::after {
		@apply absolute rounded-full font-semibold;
		counter-reset: content-text-left var(--content-text-left, 12)
			content-text-right var(--content-text-right, 20);
		content: counter(content-text-left) ":" counter(content-text-right);
		top: 0;
		width: calc((128px / 2));
	}

	&:nth-child(2n + 1) {
		&::after {
			@apply text-teal;
			right: calc((-128px / 2) - 4px);
		}
	}

	&:nth-child(2n) {
		&::after {
			@apply text-green text-right;
			left: calc((-128px / 2) - 4px);
		}
	}
}

.container {
	@apply relative p-3 grid gap-4 items-center;
	@screen sm {
		@apply p-8;
	}
	@screen lg {
		@apply p-12;
	}
	@apply justify-items-center;
	grid-template-columns: auto 1fr;
}

.image {
	@apply rounded-full w-52 h-52;
}

.imageContainer {
	@apply col-span-2;
	@screen sm {
		@apply col-span-1;
	}

	width: fit-content;
	max-width: 208px;
	height: fit-content;
	max-height: 208px;
}

.content {
	@apply col-span-2 mt-4;
	font-size: 15px;
}
