.container {
	@screen sm {
		min-width: 150vw;
	}
	@screen md {
		min-width: 130vw;
	}
	@screen xl {
		min-width: revert;
	}
	min-width: 180vw;
}

.section {
	@apply p-3 mt-8 relative;
}

.overflow {
	overflow-x: auto;
}

.timelineBG {
	@apply absolute h-full;
	width: 128px;
	left: calc(50% - (128px / 2));
}

.timeline {
	@apply absolute h-full border-r-2 border-dashed border-blue-dark;
	left: calc(50% - 1px);
}

.time {
	@apply absolute hidden;
	left: calc(50% - 8px);
	&::before {
		@apply rounded-full bg-yellow;
		content: "";
		display: block;
		width: 16px;
		height: 16px;
	}
}
