@font-face {
	font-family: "Gotham Pro";
	src: url("../../public/assets/fonts/GothamPro.eot");
	src: url("../../public/assets/fonts/GothamPro.eot?#iefix")
			format("embedded-opentype"),
		url("../../public/assets/fonts/GothamPro.woff") format("woff"),
		url("../../public/assets/fonts/GothamPro.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Gotham Pro";
	src: url("../../public/assets/fonts/GothamPro-Light.eot");
	src: url("../../public/assets/fonts/GothamPro-Light.eot?#iefix")
			format("embedded-opentype"),
		url("../../public/assets/fonts/GothamPro-Light.woff") format("woff"),
		url("../../public/assets/fonts/GothamPro-Light.ttf") format("truetype");
	font-weight: lighter;
	font-style: normal;
}
@font-face {
	font-family: "Gotham Pro";
	src: url("../../public/assets/fonts/GothamPro-Bold.eot");
	src: url("../../public/assets/fonts/GothamPro-Bold.eot?#iefix")
			format("embedded-opentype"),
		url("../../public/assets/fonts/GothamPro-Bold.woff") format("woff"),
		url("../../public/assets/fonts/GothamPro-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../../public/assets/fonts/Roboto-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
