.header {
	@apply fixed z-40 flex flex-wrap items-center justify-between w-full text-white top-0;

	@screen sm {
		@apply p-0;
	}
}

.navlink {
	&::after {
		@apply border-t-2 border-yellow rounded-full block;
		content: "";
		width: var(--after-w);
		margin-top: 0;
		will-change: width;
	}
}
